---
import Layout from "../layouts/Layout.astro";
---

<Layout>

	<p>
		Test.svelte persists a Svelte store to local storage using the window object.
	</p>

	<p>
		* I can import & use Test.svelte in an .astro file with the <a
      href="https://docs.astro.build/en/reference/directives-reference/#clientonly"
      target="_blank"
      rel="noopener noreferrer">client:only</a
    > directive, <a
		href="https://docs.astro.build/en/guides/troubleshooting/#common-cause"
		target="_blank"
		rel="noopener noreferrer">as per the docs</a
	>. See <a href="/good-to-go">here</a>.
  </p>
	
	<p>
		* But when I run the same code in an .mdx file, I get the <mark>"Window is not defined"</mark> error. See <a href="/no-go">here</a>.
	</p>
	
	<p>
		(Svelte components that don't depend on window run as expected in .mdx.)
	</p>

  <hr />
</Layout>
